/* Default Setting */

body {
  margin: 0%;
  padding: 0%;
}

header {
  width: 100%;
  height: 72px;
  background-color: white;
  box-shadow: 1px 1px 1px rgb(0, 0, 0);
  position: fixed;
}

#sidebar {
  height: 51.1vw;
  width: 280px;
  background-color: white;
  box-shadow: 1px 1px 1px rgb(0, 0, 0);
}
/* Product Details */
#contents {
  position: absolute;
  top: 73px;
  left: 280px;
  right: 0;
  width: 85%;
}
#upper-div {
  display: flex;
  width: 100%;
}
#upper-div-one {
  display: flex;
  align-items: stretch;
  margin-bottom: 1px;
  margin-top: 12px;
  margin-left: 33px;
  padding-right: 10px;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
  color: black;
}
#nav-bar {
  display: flex;
}
.navigation {
  display: flex;
  justify-content: center;
}
.right-upper {
  display: flex;
  margin-right: 12px;
  gap: 20px;
}
#products {
  position: absolute;
  top: 73px;
  left: 107px;
  right: 1px;
  display: flex;
}
.change-image {
  width: 36%;
  height: 460px;
}
#image-char {
  width: 81%;
  height: 450px;
}
#quantity-button-middle {
  width: 38px;
  padding: 0;
  margin: 0;
  text-align: center;
  border: none;
  background: 0 0;
  font-size: 14px;
  line-height: 1.4285714286;
  font-weight: 500;
  color: var(--color-dark);
  height: 30px;
  border-radius: 32%;
  border: 1px solid #f1f2f6;
  width: 36px;
  height: 36px;
  border-radius: 10px;
  color: #404040;
  text-decoration: none;
  font-size: 14px;
}
.Quantity {
  display: flex;
  align-items: center;
}
#quantity-button1 {
  width: 33px;
  height: 32px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  background-color: #8231d3;
  color: #fff;
  border-radius: 5px;
}
.pieces-available {
  padding: 20px;
  color: gray;
}
.botton-right {
  display: flex;
  align-items: center;
}
.title1 {
  display: flex;
  align-items: center;
  width: 17%;
  justify-content: space-between;
}
.title2 {
  display: flex;
  align-items: center;
  width: 14%;
  justify-content: space-between;
}
.product-detals {
  display: flex;
  padding: 16px 0px;
  color: #a0a0a0;
}
#luis {
  color: black;
}
.star-icon {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.star-reviews {
  align-items: center;
  font-size: 15px;
}
.Reviews2 {
  font-size: 15px;
  color: #a0a0a0;
}
.price {
  color: #a0a0a0;
  text-decoration: line-through;
}
.off {
  color: #5840ff;
  font-size: 13px;
}
.product-deatils-pera {
  padding: 31px 51px 0px 0px;
}
#In-stock {
  color: #01b81a;
}
.botton-right > * {
  margin: 20px;
}
.botton-right > * {
  margin: 6px;
}
.bay-addtocart {
  padding: 12px 30px;
  border-radius: 12px;
  font-size: 14px;
}
#svg-shop {
  width: 14px;
  height: 14px;
}
.icons8-heart-32 {
  width: 16px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: hidden;
}
#share {
  width: 32px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: hidden;
}
#char-botton {
  width: 100px;
}
.svg-social > li > i > img {
  width: 25px;
  height: 25px;
  display: flex;
  margin-left: 0px;
  width: 14px;
  justify-content: space-between;
  fill: gray;
}
.botton2 {
  display: flex;
  width: 889px;
  height: 54px;
}
.svg-social {
  display: flex;
  justify-content: space-between;
  width: 142px;
}
.end {
  width: 100px;
  display: flex;
  width: 203px;
  justify-content: space-between;
  height: 73px;
  padding: 32px 20px 28px 13px;
}
.stock1 {
  color: gray;
}
.bay-addtocart {
  color: white;
  background-color: #8231d3;
}
.bay-addtocart1 {
  color: white;
  background-color: #5840ff;
  padding: 12px 30px;
  border-radius: 12px;
  font-size: 14px;
}
.botton1 {
  padding: 17px 1px 26px 0px;
}